section{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

#main{
  background-image: url(![img](bgMAIN.png))
}

#about{
  background-image: url(![img](bgABOUT.png))
}

#skills{
  background-image: url(![img](bgSKILLS.png))
}

#works{
  background-image: url(![img](bgWORKS.png))
}

#commments{
  background-image: url(![img](bgCOMMENTS.png))
}

.main-block, .about-block, .skills-block, .works-block, .comments-block{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.main-block{
  flex-direction: column;
  height: Vmax;
}

.main-title{
  color-text: #2B2D35;
  text-size: 80px;
  padding-top: 67px;
}

.main-subtitle{
  color-text: #2B2D35;
  text-size: 20px;
  text-font: Comfortaa;
}

.main-content {
  width: 849px;
  height: 223px;
  background-image: url(![img](form1.png))
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 100px;
  border: 2px black;
  background-color: #BBFF2C;
  padding-top: 20px;
  filter: drop-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.5));
}

.button a{
  text-size: 20px;
  text-underline: none;
}